{% extends 'base.html' %}


{% block title-head %} Panaderia - {{ contact.first_name }} {{ contact.last_name }}  {% endblock %}

{% block content %}

<div class="container-fluid px-4">
    <h1 class="mt-4">{{ contact.first_name }} {{ contact.last_name }} </h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{% url 'customers:index' %}">Dashboard</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'customers:customer_list' %}">Clientes</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'customers:contact_list' contact.customer.id %}">Contactos</a></li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            
        <form action="{% url 'customers:contact_update' contact.id %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">	
                   {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                <input type="submit" class="btn btn-info" value="Save">
            </div>
        </form>

        </div>
    </div>
</div>

{% endblock %}