{% extends 'base.html' %}


{% block title-head %} Nueva venta {% endblock %}

{% block content %}
{{customers}}

<form action="" method="POST">
	{% csrf_token %}

    <div class="col-md-6">
        <div class="form-group">
            <label for="inputStatus">Cliente</label>
            <select id="customer-selected" class="form-control-sm custom-select">
                <option selected disabled>Elija un cliente</option>
                {% for customer in customers %}
                    <option value="{{customer.id}}">{{customer.business_name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-md-6">
    <div class="form-group">
        <label for="inputStatus">Contacto</label>
        <select id="contact-selected" class="form-control-sm custom-select" name="topic">
        <option selected disabled>Elegir contacto...</option>
        </select>
    </div>
    </div>

    <div class="container" id="form_table">
        <div class="row row-cols-auto">

            {{ formSet.management_form }}
            {% for field in formSet %}
                <div class="col">{{field}}</div>
            {% endfor %}
            
            <input type="submit" name="Submit">
                    
        </div>
    </div>

</form>

{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $("#customer-selected").change(function () {
        
        const customerId = $(this).val();  // get the selected subject ID from the HTML dropdown list 
        
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "sales:get_contacts_ajax" %}',
            data: {
                'customer_id': customerId,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="">---------</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.first_name}</option>`
                });
                $("#contact-selected").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });

    $("#contact-selected").change(function () {
        const contactId = $(this).val();
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "sales:get_sale_ajax" %}',
            data: {
                'customer_id': customerId,
                'contact_id': contactId,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data1 = '';
                data.forEach(function (data) {
                    html_data1 += `<option value="${data.id}">Nombre</option>`
                });
                $("#form_table").html(data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>
{% endblock %}